Django==1.8
django-registration-redux==1.1
django-bootstrap3==5.4.0
django-bootstrap-themes==3.1.2
django-compressor==1.5
python-social-auth==0.2.7
wsgiref==0.1.2
gunicorn
psycopg2
django-tastypie
paypalrestsdk
stripe